# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore files related to API keys
.env

# Ignore config's default.json which holds the MongoDB cluster's ID and PWD
default.json